<div class="row m-2">
    <div class="card">
        <div class="card-header " style="background-color: rgb(56, 76, 192); padding: 2%;">
            <p class="text-light h5">Dashboard</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 col-md-3 col-12">
        <div class="card h-100 h-100 mx-sm-2 text-light text-center" style="background-color: rgb(38, 0, 255);">
            <div class="row py-5">
                <div class="col">
                    <h3>100</h3>
                    <p>New Orders</p>
                </div>
                <div class="col d-flex align-items-center min-vh-500">
                    &nbsp; <i class="fa fa-shopping-bag fa-3x" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3 col-12">
        <div class="card h-100 mx-sm-2 text-light text-center" style="background-color: orangered;">
            <div class="row py-5">
                <div class="col">
                    <h3>200</h3>
                    <p>New Customers</p>
                </div>
                <div class="col d-flex align-items-center min-vh-500">
                    &nbsp; <i class="fa fa-shopping-bag fa-3x" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3 col-12">
        <div class="card h-100 mx-sm-2 text-light text-center" style="background-color: rgb(231, 23, 51);">
            <div class="row py-5">
                <div class="col">
                    <h3>300</h3>
                    <p>New Features</p>
                </div>
                <div class="col d-flex align-items-center min-vh-500">
                    &nbsp; <i class="fa fa-shopping-bag fa-3x" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xm-3 col-md-3 col-12">
        <div class="card h-100 mx-sm-2 text-light text-center" style="background-color: rgb(58, 194, 58);">
            <div class="row py-5">
                <div class="col">
                    <h3>10</h3>
                    <p>New Arrivals</p>
                </div>
                <div class="col d-flex align-items-center min-vh-500">
                    &nbsp; <i class="fa fa-shopping-bag fa-3x" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-5">
    <div class="row">
        <div class="col-md-4">
            <canvas id="canvas">{{chart1}}</canvas>
        </div>
        <div class="col-md-4">
            <canvas id="canvas1">{{chart2}}</canvas>
        </div>
        <div class="col-md-4">
            <canvas id="canvas2">{{chart2}}</canvas>
        </div>
    </div>
</div>